$base-bg-color: rgba(233, 228, 215, 1);
$base-font-color: rgba(36, 32, 23, 1);
$menu-bg-color: darken($base-bg-color, 65%);
$menu-font-color: rgba(233, 228, 215, 1);
$button-bg-color: rgba(36, 32, 23, 1);
$button-font-color: rgba(233, 228, 215, 1);
