@import "colors";
@import "variables";

:root {
  height: 100vh;
  font-family: "Helvetica Neue", arial, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color-scheme: light dark;
  color: $base-font-color;
  background: $base-bg-color;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
}

#app {
  margin: 0 2rem;
  height: 98vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  main {
    flex-grow: 1;
    overflow: hidden;
  }
}

button {
  color: $button-font-color;
  background-color: $button-bg-color;
  border: none;
  border-radius: 0.2rem;
  padding: 4px;
}
