@import "../../style/colors";

.sidebar {
  margin: 1rem 0 0 0;
  width: 400px;
  flex-grow: 0;
  border-right: 2px dashed $menu-bg-color;
  display: flex;
  overflow-y: scroll;
  flex-direction: column;

  .limit {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 0.5rem;
    margin: 0.5rem 0.5rem;

    span {
      padding-top: 4px;
      font-size: 11pt;
      font-style: italic;
    }

    select {
      font-size: 11pt;
      border: 1px solid $base-font-color;
      border-radius: 4px;
    }
  }

  nav {
    display: flex;
    flex-flow: column;
    flex: 1;

    a {
      display: flex;
      color: $base-font-color;
      flex-direction: column;
      text-decoration: none;
      padding: 0.5rem 0.5rem;

      &:hover,
      &:active,
      &.active {
        background: darken($base-bg-color, 10%);
      }

      .title {
        font-size: 14px;
        font-weight: bold;
        margin: 0.2rem 0;
      }

      .time {
        position: relative;
        display: inline;
        font-size: 12px;
        margin: 0.2rem 0.2rem;
        width: fit-content;

        .timeTooltip {
          width: fit-content;
          background-color: black;
          color: $menu-font-color;
          text-align: left;
          white-space: nowrap;
          border-radius: 5px;
          padding: 1px;
          opacity: 0;
          transition: opacity 1s ease-in-out;
          position: absolute;
          z-index: 1;
          top: 105%;
          left: 0%;
        }

        &:hover .timeTooltip {
          opacity: 1;
        }
      }
      .source {
        align-self: flex-end;
        font-size: 12px;
        margin: 0.2rem 0.2rem;
      }
    }
  }
}
