@import "../../style/colors";
@import "../../style/variables";

.header {
  height: $header-height;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: $base-bg-color;
  color: $base-font-color;
  z-index: 50;

  h2 {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid $menu-bg-color;
    line-height: 0.1em;
    margin: 10px 0 20px;

    span {
      font-family: "Times New Roman", Times, serif;
      background: $base-bg-color;
      padding: 0 10px;
    }
  }

  nav {
    width: 100%;
    display: flex;
    justify-content: center;
    background: $menu-bg-color;

    a {
      display: inline-block;
      padding: 0 1rem;
      color: $menu-font-color;
      text-decoration: none;
      line-height: 3.5rem;

      &:hover,
      &:active,
      &.active {
        box-shadow: inset 0 0 0 10em adjust-color($base-bg-color, $alpha: -0.75);
      }
    }
  }
}
