@import "../../style/colors";

.articleview {
  overflow-y: scroll;
  width: 100%;

  .article {
    margin: 1rem 2rem 2rem 2rem;
    padding: 0 4rem;
    border: 1px solid $menu-bg-color;

    .title {
      text-align: left;
      font-weight: bold;
      font-size: 28px;
    }

    .subtitle {
      color: lighten($base-font-color, 20%);
      display: flex;
      flex-wrap: wrap;
      font-size: 14px;
      gap: 0.5rem;

      .sourcelink {
        color: lighten($base-font-color, 20%);
      }

      .time:after {
        content: "published: " attr(publish-date) "\A fetched: "attr(fetch-date);
        white-space: pre-wrap;
        visibility: hidden;
        opacity: 0;
        background-color: black;
        color: $menu-font-color;
        border-radius: 5px;
        margin-left: 2px;
        padding: 1px;
        transition: opacity 1s ease-in-out;
        position: absolute;
        z-index: 1;
      }
      .time:hover:after {
        opacity: 1;
        visibility: visible;
      }
    }

    .text {
      margin: 1rem 0;
      white-space: pre-line;
      word-break: break-word;
      font-size: 18px;
      font-family: "Georgia", serif;
      line-height: 1.7;
      text-align: justify;
    }
  }
}
